.forbidden-container {
    padding: 40px;
    text-align: center;

    .status-no {
        font-size: 48px;
        font-weight: bold;
    }
    .status-text {
        font-size: 28px;
        font-weight: bold;
    }
    .description {
        font-size: 14px;
    }
    .links {
        padding-top: 16px;
    }
    .link-text {
        margin-left: 4px;
    }
}
