.card-content {
    .status-code {
        font-size: 48px;
        font-weight: bold;
    }
    .status-text {
        font-size: 28px;
        font-weight: bold;
    }
    .description {
        font-size: 14px;
    }
}
