<div class="container">
    <div class="columns is-centered is-desktop">
        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <div class="has-text-centered">
                        <h2 class="status-code">403</h2>
                        <h3 class="status-text">Access Not Granted</h3>
                    </div>
                    <p class="description">
                        予約受付期間外のため、現在ご利用できません。<br />
                        FacebookまたはInstagramにて予約受付期間を公表します。<br />
                        今しばらくお待ち下さい。
                    </p>
                    <sns-links></sns-links>
                </div>
            </div>
        </div>
    </div>
</div>

