<div class="container">
    <div class="forbidden-container">
        <h2 class="status-no">403</h2>
        <h3 class="status-text">Access Not Granted</h3>
        <p class="description">
            予約受付期間外のため、現在ご利用できません。<br />
            Facebookページまたはホームページにて予約受付期間を公表します。<br />
            今しばらくお待ち下さい。
        </p>
        <div class="links">
            <a href="" class="button is-info is-inverted">Facebookページ</a>
            <a href="" class="button is-info is-inverted">ホームページ</a>
        </div>
    </div>
</div>

