<div class="container">
    <div class="box">
        <div class="forbidden-container">
            <h2 class="status-no">403</h2>
            <h3 class="status-text">Access Not Granted</h3>
            <p class="description">
                予約受付期間外のため、現在ご利用できません。<br />
                Facebookページまたはインスタグラムにて予約受付期間を公表します。<br />
                今しばらくお待ち下さい。
            </p>
            <div class="links">
                <a href="https://www.facebook.com/gamoyon4204/" target="_blank" class="button is-info is-inverted">
                    <i class="fab fa-facebook"></i>
                    <span class="link-text">Facebookページ</span>
                </a>
                <a href="https://www.instagram.com/cafedegamoyon/?hl=ja" target="_blank" class="button is-info is-inverted">
                    <i class="fab fa-instagram"></i>
                    <span class="link-text">Instagram</span>
                </a>
                <!--<a href="https://www.cafedegamoyon.com/" target="_blank" class="button is-info is-inverted">
                    <i class="fas fa-link"></i>
                    <span class="link-text">ホームページ</span>
                </a>-->
            </div>
        </div>
    </div>
</div>

