.box {
    text-align: center;

    .link-button {
        background-color: #fff;
        color: #167df0;
    }
    .page-header {
        .title {
            font-size: 42px;
            font-weight: 700;
        }
    }
    .page-content {
        margin-top: 1.4rem;

        .not-receive-mail {
            font-size: 1.2rem;
        }
    }
    .page-footer {
        margin-top: 0.8rem;

        .link-button {
            font-size: 18px;
            font-weight: 500;

            .link-text {
                margin-left: 4px;
            }
        }
    }
}