<div class="mail-transmission-log-list-item">
    <div class="row">
        <p class="reserver-name">
            <b-tag size="is-medium" :type="tagColor">{{ mailTransmissionLog.type_name }}</b-tag>
            {{ mailTransmissionLog.reserver_name }}
        </p>
    </div>
    <div class="row">
        <p class="has-text-weight-bold">メール送信日時</p>
        <p>{{ mailTransmissionLog.send_datetime | formatDateTimeJp }}</p>
    </div>
    <div class="row">
        <p class="has-text-weight-bold">メールアドレス</p>
        <p>{{ mailTransmissionLog.mail }}</p>
    </div>
    <div class="buttons is-right">
        <a
            :href="mailTransmissionLog.redirect_url"
            target="_blank"
            v-if="visibleReservationDetailLink"
        >
            <i class="fa fa-calendar"></i>予約内容を確認
        </a>
    </div>
</div>
