<div class="list-item">
    <div class="timezone-col">
        {{ timezone.text }}
    </div>
    <div class="actions-col">
        <div class="buttons">
            <button type="button"
                    class="button is-info"
                    @click="handleShowTimezoneDialog()">
                <i class="fas fa-edit"></i>
                <span class="is-hidden-mobile">編集</span>
            </button>
            <button type="button"
                    class="button is-danger"
                    @click="handleClicDelete()">
                <i class="fas fa-trash"></i>
                <span class="is-hidden-mobile">削除</span>
            </button>
        </div>
    </div>
</div>
