<div class="panel-block">
    <div class="timezone">
        {{ timezone.start_time | timePeriod(timezone.end_time) }}
    </div>
    <div class="buttons">
        <button type="button"
                class="button is-info is-outlined"
                @click="handleShowTimezoneDialog()">
            <i class="fas fa-edit"></i>
            <span class="is-hidden-mobile">編集</span>
        </button>
        <button type="button"
                class="button is-danger is-outlined"
                @click="handleClicDelete()">
            <i class="fas fa-trash"></i>
            <span class="is-hidden-mobile">削除</span>
        </button>
    </div>
</div>
