<div class="container">
    <div class="columns">
        <div class="column is-half is-offset-3">
            <div class="box">
                <div class="page-header">
                    <h4 class="title is-size-4">
                        <i class="fas fa-calendar-alt"></i>新春スイーツ予約変更
                    </h4>
                    <p>Cafe de Gamoyonをご利用いただきありがとうございます。</p>
                    <p>このページでは、新春スイーツ予約内容の変更を受け付けております。</p>
                    <p>予約変更後、メールにてお知らせいたします。</p>
                    <p><strong>確認メールが届かない場合</strong>は、<a href="https://www.facebook.com/gamoyon4204/" class="sns-link" target="_blank"><i class="fab fa-facebook"></i>Facebook</a>または
                    <a href="https://www.instagram.com/cafedegamoyon/?hl=ja" class="sns-link" target="_blank"><i class="fab fa-instagram"></i>Instagram</a>
                        へお問い合わせください。
                    </p>
                </div>

                <div class="page-content">
                    <new-year-dishes-reservation-form
                        :id="id"
                        @initialize-failed="handleInitializeFailed"
                        @save-succeeded="handleSaveSucceeded"
                        @save-failed="handleSaveFailed"
                        @update-progress="handleUpdateProgress"
                        @validation-failed="handleValidationFailed">
                    </new-year-dishes-reservation-form>
                </div>

                <b-loading :active.sync="isProgress"></b-loading>
            </div>
        </div>
    </div>
</div>

