<div class="container">
    <div class="columns">
        <div class="column is-half is-offset-3">
            <div class="box">
                <h3 class="subtitle">自動配信メール不着時の対応について</h3>
                <div class="description">
                    <ol>
                        <li>
                            <p>
                                迷惑メールフォルダに受信しているか確認してください<br>
                                <small>迷惑メール解除方法は、ご利用のメールサービスの設定方法を確認してください</small>
                            </p>
                        </li>
                        <li>
                            <p>
                                迷惑メールフォルダに受信メールがない場合、インスタグラムまたはFacebookのメッセージよりお問い合わせください<br>
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
