<div class="columns is-centered is-destop">
    <div class="column is-half">
        <div class="container">
            <div class="card">
                <div class="card-content">

                    <div clas="page-header">
                        <h3 class="main-title">
                            メールの再送承りました。
                        </h3>
                    </div>

                    <div class="page-content">
                        <p>記入内容を確認の上、予約情報をお送り致します。</p>
                    </div>

                    <div class="sns-link-container">
                        <p>SNSで最新情報をチェック！</p>
                        <p>
                            <a href="https://www.instagram.com/cafedegamoyon/?hl=ja" class="button is-info is-inverted">
                                <i class="fab fa-instagram"></i>
                                <span>インスタグラム</span>
                            </a>
                        </p>
                        <p>
                            <a href="https://www.facebook.com/gamoyon4204/" class="button is-info is-inverted">
                                <i class="fab fa-facebook"></i>
                                <span>Facebookページ</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
