.reservation-detail-content {
    .reserver-name {
        margin-top: 1.4rem;
        margin-bottom: 0.8rem;
    }
    .item {
        border-bottom: 1px solid #ddd;
        margin-bottom: 12px;
        padding-bottom: 4px;

        .item-label {
            font-size: 1.20rem;
        }
    }
    .status-title {
        font-weight: 700;
    }
    .reservation-status {
        margin-bottom: 8px;

        .status {
            border: solid 1px #aaa;
            background-color: #fff;
            display: inline-block;
            width: 24px;
            height: 12px;
            margin-right: 6px;

            &.selected {
                border: solid 1px #b9936c;
                background-color: #debf9f;
            }
            &.reserved {
                border: solid 1px #aaa;
                background-color: #ccc;
            }
        }
    }
}
