<div class="reservation-detail-content">
    <h4 class="title is-size-4 reserver-name">{{ reservation.reserver_name | reserverNameWithNumberOfPeople(reservation.number_of_reservations) }}</h4>
    <div class="item">
        <h5 class="item-label"><strong>予約日時</strong></h5>
        <p>{{ reservation.reservation_date | formatReservationDatetime(reservation.reservation_start_time, reservation.reservation_end_time) }}</p>
    </div>
    <div class="item">
        <h5 class="item-label"><strong>座席</strong></h5>
        <div class="reservation-status">
            <small>
                <span class="status"></span>空席
            </small>
            <small>
                <span class="status selected"></span>予約中
            </small>
            <small>
                <span class="status reserved"></span>予約不可
            </small>
        </div>
        <reservation-seat-list :reservationSeats="reservation.reservation_seats" v-if="!!reservation"/>
    </div>
    <div class="item">
        <h5 class="item-label"><strong>TEL</strong></h5>
        <p>{{ reservation.tel }}</p>
    </div>
    <div class="item">
        <h5 class="item-label"><strong>メールアドレス</strong></h5>
        <p>{{ reservation.mail }}</p>
    </div>
    <div class="item">
        <h5 class="item-label"><strong>メモ</strong></h5>
        <p v-html="reservationComment"></p>
    </div>
</div>
