<div class="list-container">
    <div class="list">
        <business-day-list-item
            v-for="businessDay in businessDays"
            :key="businessDay.id"
            :businessDay="businessDay"
            @delete-succeeded="handleDeleteSucceeded"
            @delete-failed="handleDeleteFailed"
            @load-business-day-failed="handleLoadFailed"
            @save-succeeded="handleSaveSucceeded"
            @save-failed="handleSaveFailed"
            @validation-failed="handleValidationFailed">
        </business-day-list-item>
        <div class="list-item" v-if="visibleEmptyItem">
            <p class="has-text-centered">表示できるデータがありません</p>
        </div>
    </div>
    <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
</div>
