.page-content {
    margin-top: 1.6rem;

    .rebook-text {
        font-size: 18px;

        .entry-link {
            background-color: #fff;
            color: #167df0;
        }
    }
}
.page-footer {
    margin-top: 1.6rem;

    .note {
        font-weight: 600;
    }
    .buttons {
        .fab {
            margin-right: 4px;
        }
    }
}
