<div class="columns is-desktop is-centered">
    <div class="column is-three-fifths">
        <div class="container">
            <div class="box">
                <div class="page-header">
                    <h4 class="title">
                        <i class="fas fa-calendar-check"></i>予約状況
                    </h4>
                </div>

                <div class="page-content">
                    <div class="search-form-container">
                        <reservation-search-form
                            @initialize-failed="handleInitializeFailed"
                            @search="handleSearch">
                        </reservation-search-form>
                    </div>
                    <div class="divider"></div>
                    <div class="list-container">
                        <reservation-list
                            :searchParams="searchParams"
                            @cancel-succeeded="handleCancelSucceeded()"
                            @cancel-failed="handleCancelFailed()">
                        </reservation-list>
                        <b-loading :is-full-page="false" :active.sync="isProgress"></b-loading>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
