<div class="columns is-desktop is-centered">
    <div class="column is-three-fifths">
        <div class="container">
            <div class="box">
                <div class="page-header">
                    <h4 class="title">
                        <i class="fas fa-calendar-check"></i>予約状況
                    </h4>
                </div>

                <div class="page-content">
                    <div class="search-form-container">
                        <reservation-search-form
                            :businessDays="businessDays"
                            :timezones="timezones"
                            :searchOption="searchOption"
                            @search="handleSearch"
                            @update-reservation-date="handleUpdateReservationDate"
                            @update-reservation-time="handleUpdateReservationTime"
                        >
                        </reservation-search-form>
                    </div>
                    <div class="divider"></div>
                    <div class="list-container">
                        <reservation-list
                            :reservation-list="reservationList"
                            @cancel-succeeded="handleCancelSucceeded()"
                            @cancel-failed="handleCancelFailed()"
                        >
                        </reservation-list>
                        <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
