.page-header {
    .reserver-name {
        font-size: 24px;
        font-weight: 600;
    }
    .cancel-description {
        color: #f14668;
        font-weight: 700;

    }
}

.page-content {
    margin-top: 18px;
}
