// テーブルの枠線の色
$reservation-table-border-color: rgba(10, 10, 10, 0.1);

// 縦向きテーブル
$vertical-table-height: 80px;
$vertical-table-width: 30px;

.room {
    border: 1px solid $reservation-table-border-color;
    padding: 20px;
    margin-bottom: 10px;
    height: 120px;
    position: relative;

    // todo
    //.entrance {
    //}

    .reservation-table {
        border: 1px solid #aaa;
        width: $vertical-table-width;
        height: $vertical-table-height;
        position: absolute;
        top: 20px;

        &.is-reserved {
            background-color: #bbb;
        }
        &.no1 {
            left: 40px;
        }
        &.no2 {
            left: 90px;
        }
        &.no3 {
            left: 140px;
        }
        &.no4 {
            left: 190px;
        }
        &.no5 {
            left: 240px;
        }
    }
}
