.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;

    .sub-title {
        margin-top: 0.4rem;
    }
    .title, .subtitle {
        font-family: cursive;
    }
}
