.page-header {
    .contact-message {
        margin-top: 8px;

        .sns-link {
            background-color: #fff;
            color: #167df0;
        }
    }
}

.page-content {
    margin-top: 20px;
}
