<div class="container">
    <div class="columns">
        <div class="column is-half is-offset-3">
            <div class="box">
                <div class="page-header">
                    <h4 class="title is-size-3">
                        <i class="fas fa-calendar-alt"></i>
                        予約変更
                    </h4>
                    <p>Cafe de Gamoyonをご利用いただきありがとうございます。<p>
                    <p>このページでは、予約内容の変更を受け付けております。</p>
                    <p><strong>予約変更後、メールにてお知らせいたします。</strong></p>
                    <p class="contact-message">貸切などのご相談は、<a href="https://www.facebook.com/gamoyon4204/" class="sns-link" target="_blank"><i class="fab fa-facebook"></i>Facebookページ</a>または
                    <a href="https://www.instagram.com/cafedegamoyon/?hl=ja" class="sns-link" target="_blank"><i class="fab fa-instagram"></i>インスタグラム</a>
                        からお問い合わせください。
                    </p>
                </div>

                <div class="page-content">
                    <reservation-form :reservation="reservation"
                                      :validations="$v"
                                      v-if="!!reservation"
                                      @data-loaded="onDataLoaded"/>
                </div>

                <div class="form-actions">
                    <button type="button"
                            class="button is-info"
                            :disabled="disableEdit"
                            @click="onClickSave()">
                        <i class="fas fa-edit"></i>
                        <span>予約内容を変更</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <b-loading :active.sync="isLoading"></b-loading>
</div>
