<div class="container">
    <div class="columns is-desktop">
        <div class="column is-half is-offset-3">
            <div class="box">
                <div class="page-header">
                    <h4 class="title is-size-3">
                        <i class="fas fa-calendar-alt"></i>予約変更
                    </h4>
                    <p>Cafe de Gamoyonをご利用いただきありがとうございます。<p>
                    <p>このページでは、予約内容の変更を受け付けております。</p>
                    <p><strong class="has-text-danger">予約変更後、メールにてお知らせいたします。</strong></p>
                    <p class="new-year-dishes-reservation-entry-link">
                        <new-year-dishes-reservation-entry-link></new-year-dishes-reservation-entry-link>
                    </p>
                </div>
                <div class="page-content">
                    <reservation-form
                        :businessDays="businessDays"
                        :isFullOfReservations="isFullOfReservations"
                        :isLoadingSeats="isLoadingSeats"
                        :isSelectedSeats="isSelectedSeats"
                        :reservation="reservation"
                        :reservablePeople="reservablePeople"
                        :selectedSeatCount="selectedSeatCount"
                        :timezones="timezones"
                        :validations="$v"
                        :visibleReservationSeats="hasReservationDateTime"
                        @update-comment="handleUpdateComment"
                        @update-mail="handleUpdateMail"
                        @update-number-of-reservations="handleUpdateNumberOfReservations"
                        @update-reservation-date="handleUpdateReservationDate"
                        @update-reservation-seat="handleUpdateReservationSeat"
                        @update-reservation-time="handleUpdateReservationTime"
                        @update-reserver-name="handleUpdateReserverName"
                        @update-tel="handleUpdateTel"
                    >
                    </reservation-form>
                </div>
                <div class="page-footer">
                    <div class="has-text-right">
                        <button class="button is-info" @click="handleSave()" :disabled="isFullOfReservations">
                            <i class="fas fa-calendar-check"></i>予約を変更する
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <b-loading :is-full-page="true" :active.sync="isLoading"></b-loading>
</div>
