<div class="reservation-seats-container">
    <div v-if="hasSeats">
        <p>
            <small>現在<strong>{{ reservablePeople }}名</strong>までのご予約受け付けております。</small><br>
            <small>ご予約は空席をクリックしてください。</small><br>
            <small>※ テーブルは2名席です。</small>
        </p>

        <h5 class="status-title">座席表の見方</h5>
        <div class="reservation-status">
            <small><span class="status"></span>空席</small>
            <small><span class="status selected"></span>予約中</small>
            <small><span class="status reserved"></span>予約不可</small>
        </div>

        <div class="room">
            <div class="entrance"></div>
            <div class="seats">
                <selectable-reservation-seat-list-item :seat="seat" :key="seat.id" @update-seat="handleUpdateSeat" v-for="seat in seats"></selectable-reservation-seat-list-item>
            </div>
        </div>

        <div v-if="noSelectedSeats" class="no-seat-selection-message">
            <p class="has-text-danger">座席を選択してください。</p>
        </div>

        <div v-if="isAllReservedSeats" class="no-seat-selection-message">
            <small class="has-text-danger">
                指定した予約日時がただいま満席となっております。<br>
                予約日時を再選択してご予約ください。<br>
                ※ご指定の日時でキャンセルが出た場合はご予約いただけます。時間をおいてアクセスしてください。
            </small>
        </div>
    </div>

    <div v-if="!hasSeats">
        <p>予約日・予約時間を選択してください。</p>
    </div>

    <b-loading :is-full-page="false" :active.sync="isProgress"></b-loading>
</div>