.page-header {
    .fas {
        margin-right: 6px;
    }
}
.page-content {
    margin-top: 24px;
    position: relative;

    .current-receptions {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    .list-container {
        margin-top: 20px;
    }
}
