<div class="container">
    <div class="columns is-desktop">
        <div class="column is-three-fifths is-offset-2">
            <div class="box">
                <div class="page-header">
                    <h3 class="title has-text-centered">
                        <i class="fas fa-edit"></i>予約変更完了
                    </h3>
                </div>

                <div class="page-content">
                    <p class="detail-link-text">
                        ご予約の確認は<router-link :to="{ name: 'reservation-detail', params: { id: id } }" class="link">こちら</router-link>
                    </p>
                </div>

                <div class="page-footer">
                    <p class="note">SNSで最新情報をチェック！</p>
                    <div class="buttons is-centered">
                        <a href="https://www.instagram.com/cafedegamoyon/?hl=ja" class="button is-info is-inverted" target="_blank">
                            <i class="fab fa-instagram"></i>Instagram
                        </a>
                        <a href="https://www.facebook.com/gamoyon4204/" class="button is-info is-inverted" target="_blank">
                            <i class="fab fa-facebook"></i>Facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
