<div class="container">
    <div class="columns is-desktop is-centered">
        <div class="column">
                <header class="page-header">
                    <h2 class="subtitle">
                        <i class="fas fa-mug-hot"></i>Cafe de Gamoyon
                    </h2>
                </header>
                <section class="page-body">
                    <h3>6月予約状況</h3>
                    <div>
                        <div class="box">
                            <p>残り1</p>
                            <h4>2021-06-03</h4>
                        </div>
                    </div>
                    <h3>アップデート情報</h3>
                    <update-list></update-list>
                </section>
        </div>
    </div>
</div>
