.card-content {
    .title {
        .fas {
            margin-right: 4px;
        }
    }
    .sns-links-container {
        margin-top: 0.4rem;

        .note {
            font-weight: 600;
            text-align: center;
        }
    }
}
