<div class="container">
    <div class="columns is-centered is-desktop">
        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <h3 class="title is-size-4">
                        <i class="fas fa-calendar-check"></i>予約完了
                    </h3>

                    <div class="message-container">
                        <p>スイーツおせちのご予約を承りました。</p>
                        <p>ご予約数の変更または、キャンセルの場合は、お手数ですが、予約完了メールへご返信ください。</p>
                    </div>

                    <div class="sns-links-container">
                        <p class="note">Cafe de Gamoyonの最新情報をSNSでチェック！</p>
                        <div class="buttons is-centered">
                            <a href="https://www.facebook.com/gamoyon4204/" class="button is-info is-inverted" target="_blank">
                                <i class="fab fa-facebook"></i>Facebook
                            </a>
                            <a href="https://www.instagram.com/cafedegamoyon/?hl=ja" class="button is-info is-inverted" target="_blank">
                                <i class="fab fa-instagram"></i>インスタグラム
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
