.notfound-container {
    padding: 40px;
    text-align: center;

    .notfound-no {
        font-size: 48px;
        font-weight: bold;
    }

    .notfound-text {
        font-size: 28px;
        font-weight: bold;
    }

    .description {
        font-size: 14px;
    }

    .reservation-link-container {
        padding-top: 18px;
    }
}
