<div class="container">
    <div class="columns is-centered is-desktop">
        <div class="column is-half">
            <div class="box">
                <div class="page-header">
                    <router-link :to="redirectUrl" class="button is-info is-inverted">
                        <i class="fas fa-reply"></i>
                        一覧へ戻る
                    </router-link>
                    <h3 class="title">
                        <i class="fas fa-envelope"></i>
                        メールメッセージ編集
                    </h3>
                    <p>
                    メールの本文に<strong>{予約者名}</strong>と<strong>{予約サイトURL}</strong>を差し込んでください<br>
                    ※プレビュー画面でメッセージのイメージが確認できます
                    </p>
                </div>

                <div class="page-content">
                    <email-message-edit-form
                        :message="message"
                        @edit-succeeded="handleEditSucceeded"
                        @edit-failed="handleEditFailed"
                        @validation-failed="handleValidationFailed"
                        v-if="!!message">
                    </email-message-edit-form>
                </div>
            </div>
        </div>
    </div>
</div>
