<div class="container">
    <div class="columns">
        <div class="column is-half is-offset-3">
            <div class="box">
                <h4 class="title is-size-3">
                    <i class="fas fa-calendar-alt"></i>
                    ご予約受付
                </h4>

                <reservation-form/>

                <div class="form-actions">
                    <button type="button" class="button is-info">予約</button>
                </div>
            </div>
        </div>
    </div>
</div>
