<div class="container">
    <div class="columns">
        <div class="column is-half is-offset-3">
            <div class="box">
                <div class="page-header">
                    <h4 class="title is-size-3">
                        <i class="fas fa-calendar-alt"></i>
                        予約受付
                    </h4>
                    <p>Cafe de Gamoyonをご利用いただきありがとうございます。<p>
                    <p>
                        当店は営業時間内一部予約制となっております。<br>
                        ご予約希望の方は以下の情報をご記入ください。<br>
                    </p>
                    <p>
                    貸切などのご予約のご相談については、<a href="https://www.facebook.com/gamoyon4204/" class="sns-link" target="_blank"><i class="fab fa-facebook"></i>Facebookページ</a>または
                    <a href="https://www.instagram.com/cafedegamoyon/?hl=ja" class="sns-link" target="_blank"><i class="fab fa-instagram"></i>インスタグラム</a>
                        からメッセージにてお問い合わせください。
                    </p>
                </div>

                <div class="page-content">
                    <reservation-form :reservation="reservation"
                                      :validations="$v"
                                      v-if="!!reservation"
                                      @update-reservation-date="onUpdateReservationDate"
                                      @update-reservation-time="onUpdateReservationTime"
                                      @data-loaded="onDataLoaded"
                                      />
                </div>

                <div class="form-actions">
                    <button type="button"
                            class="button is-info"
                            :disabled="isSaving"
                            @click="onClickSave()">
                        <i class="fas fa-calendar-check"></i>
                        <span>予約</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <b-loading :active.sync="isLoading"></b-loading>
</div>
