.business-day-container {
    margin-top: 20px;

    .business-day-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title {
            font-weight: 500;
        }
    }
}
.time-table-container {
    margin-top: 20px;

    .time-table-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title {
            font-weight: 500;
        }
    }
}

