<div class="email-message-list-item">
    <article class="message">
        <div class="message-header">
            <p>予約完了メッセージ</p>
        </div>
        <div class="message-body">
            <h3>タイトル</h3>
            <p>{{ message.subject }}</p>
            <h3>本文</h3>
            <p>{{ message.body }}</p>
            <div class="buttons is-right">
                <button class="button is-info is-inverted" type="button">
                    <i class="fas fa-edit"></i>
                    メッセージを編集する
                </button>
            </div>
        </div>
    </article>
</div>
