.new-year-dises-reservation-detail {
    .item {
        border-bottom: 1px solid #ddd;
        margin-bottom: 12px;
        padding-bottom: 4px;

        .item-label {
            font-weight: 700;
        }
    }
}
