.page-content {
    .search-form-container{
        margin-top: 1.2rem;
    }
    .divider {
        border: 1px solid #b5b5b5;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }
    .list-container {
        position: relative;
        max-height: 320px;
        overflow-x: scroll;
        /** for iOS **/
        -webkit-overflow-scroll: touch;
    }
}
