<div class="list-container">
    <div class="list">
        <timezone-list-item
            v-for="timezone in timezones"
            :key="timezone.id"
            :timezone="timezone"
            @delete-succeeded="itemDeleteSucceeded"
            @edit-succeeded="itemEditSucceeded" />
        <div class="list-item" v-if="visibleEmptyItem">
            <p class="has-text-centered">表示できるデータがありません</p>
        </div>
    </div>
    <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
</div>
