<div class="list-container">
    <div class="panel">
        <timezone-list-item
            v-for="timezone in timezones"
            :key="timezone.id"
            :timezone="timezone"
            @delete-succeeded="handleDeleteSucceeded"
            @delete-failed="handleDeleteFailed"
            @load-timezone-failed="handleLoadDataFailed"
            @save-succeeded="handleSaveSucceeded"
            @save-failed="handleSaveFailed"
            @sync-selectable-timezones-failed="handleSyncSelectableTimezonesFailed"
            @validation-failed="handleValidationFailed">
        </timezone-list-item>
        <div class="list-item" v-if="visibleEmptyItem">
            <p class="has-text-centered">表示できるデータがありません</p>
        </div>
    </div>
    <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
</div>
