<div class="reservation-form-container">
    <form>
        <div class="field">
            <label class="label">予約日</label>
            <b-select placeholder="予約日"
                      v-model="reservation.reservation_date_id"
                      @input="onChangeBusinessDay($event)">
                <option v-for="d in businessDays" :key="d.id" :value="d.id">
                    {{ d.text }}
                </option>
            </b-select>
            <div v-if="validations.reservation.reservation_date.$error">
                <small class="help is-danger" v-if="!validations.reservation.reservation_date.required">
                    予約日を選択してください。
                </small>
            </div>
        </div>
        <div class="field">
            <label class="label">予約時間</label>
            <b-select placeholder="予約時間"
                      v-model="reservation.reservation_time_id"
                      @input="onChangeTimezone($event)">
                <!--<option v-for="t in timezones" :key="t.id" :value="t.id">
                    {{ t.text }}
                </option>-->
                <option v-for="t in reservableTimezones" :key="t.id" :value="t.id">
                    {{ t.text }}
                </option>
            </b-select>
            <div v-if="validations.reservation.reservation_start_time.$error">
                <small class="help is-danger" v-if="!validations.reservation.reservation_start_time.required">
                    予約時間を選択してください。
                </small>
            </div>
        </div>
        <div class="field">
            <label class="label">空席状況</label>
            <div class="reservation-seats-container" v-if="hasReservationSeats">
                <p><small>現在<strong>{{ getReservablePeople }}名</strong>までのご予約受け付けております。</small></p>
                <p><small>ご予約は空席をクリックしてください。</small></p>
                <p><small>※ テーブルは2名席です。</small></p>

                <h5 class="status-title">座席表の見方</h5>
                <div class="reservation-status">
                    <small>
                        <span class="status"></span>空席
                    </small>
                    <small>
                        <span class="status selected"></span>予約中
                    </small>
                    <small>
                        <span class="status reserved"></span>予約不可
                    </small>
                </div>

                <selectable-reservation-seat-list
                    :reservationSeats="reservation.reservation_seats"
                    v-if="!!reservation.reservation_seats"/>

                <b-loading :is-full-page="false" :active.sync="isLoadingSeats"></b-loading>
            </div>
            <div v-if="visibleSelectionSeatMessage" class="no-seat-selection-message">
                <p class="has-text-danger">座席を選択してください。</p>
            </div>
            <div v-if="isFullOfReserved" class="no-seat-selection-message">
                <small class="has-text-danger">
                    指定した予約日時がただいま満席となっております。<br>
                    予約日時を再選択してご予約ください。<br>
                    ※ご指定の日時でキャンセルが出た場合はご予約いただけます。時間をおいてアクセスしてください。
                </small>
            </div>
            <div v-if="!hasReservationSeats">
                <p>予約日・予約時間を選択してください。</p>
            </div>
        </div>
        <div class="field">
            <label class="label">予約人数</label>
            <div class="control">
                <input type="number"
                       class="input has-text-right"
                       v-model.number="reservation.number_of_reservations"
                       :class="{ 'is-danger': validations.reservation.number_of_reservations.$error }">
                <div v-if="validations.reservation.number_of_reservations.$error">
                    <small class="help is-danger" v-if="!validations.reservation.number_of_reservations.required">
                        予約人数を入力してください。
                    </small>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">お名前</label>
            <div class="control">
                <input type="text"
                       class="input"
                       placeholder="Gamoyon 花子"
                       v-model.trim="reservation.reserver_name"
                       :class="{ 'is-danger': validations.reservation.reserver_name.$error }">
                <div v-if="validations.reservation.reserver_name.$error">
                    <small class="help is-danger" v-if="!validations.reservation.reserver_name.required">
                        名前を入力してください。
                    </small>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">電話番号 (ハイフンなし)</label>
            <div class="control">
                <input type="tel"
                       class="input"
                       placeholder="09012345678"
                       v-model.trim="reservation.tel"
                       :class="{ 'is-danger': validations.reservation.tel.$error }">
                <div v-if="validations.reservation.tel.$error">
                    <small class="help is-danger" v-if="!validations.reservation.tel.required">
                        電話番号を入力してください。
                    </small>
                    <small class="help is-danger" v-if="!validations.reservation.tel.tel">
                        電話番号は半角数字で入力してください。
                    </small>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">
                メールアドレス
            </label>
            <div class="control">
                <input type="mail"
                       class="input"
                       placeholder="sweets.sukiko@email.com"
                       v-model.trim="reservation.mail"
                       :class="{ 'is-danger': validations.reservation.mail.$error }">
                <small>※入力したメールアドレスにお間違いがないか確認してください。</small>
                <div v-if="validations.reservation.mail.$error">
                    <small class="help is-danger" v-if="!validations.reservation.mail.required">
                        メールアドレスを入力してください。
                    </small>
                    <small class="help is-danger"  v-if="!validations.reservation.mail.email">
                        メールアドレスの形式で入力してください(例: sweets.sukiko@email.com)。
                    </small>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">備考</label>
            <textarea class="textarea" placeholder="お店への伝達事項などあれば記入してください(例: 卵アレルギーがあります)" v-model="reservation.comment"></textarea>
        </div>
    </form>
</div>
