<form>
    <div class="field">
        <label class="label">ご来店希望日</label>
        <b-select
            placeholder="ご希望の日付を選択してください"
            :value="reservation.reservation_date_id"
            @input="handleUpdateReservationDate($event)"
        >
            <option v-for="b in businessDays" :key="b.id" :value="b.id">
                {{ b.business_date | formatDateJp }}
            </option>
        </b-select>
    </div>
    <div class="field">
        <label class="label">ご来店希望時間</label>
        <b-select
            placeholder="ご希望の時間帯を選択してください"
            :value="reservation.reservation_time_id"
            @input="handleUpdateReservationTime($event)">
            <option v-for="t in timezones" :key="t.id" :value="t.id">
                {{ t.start_time | timePeriod(t.end_time) }}
            </option>
        </b-select>
    </div>
    <div class="field">
        <label class="label">ご来店人数</label>
        <div class="control">
            <input
                type="number"
                class="input has-text-right"
                :class="{ 'is-danger': validations.reservation.number_of_reservations.$error }"
                :value="reservation.number_of_reservations"
                @input="handleUpdateNumberOfReservations($event.target.value)"
            >
            <div v-if="validations.reservation.number_of_reservations.$error">
                <small class="help is-danger" v-if="!validations.reservation.number_of_reservations.required">
                    ご来店人数を入力してください
                </small>
                <small
                    class="help is-danger"
                    v-if="!validations.reservation.number_of_reservations.numberOfReservations && selectedSeatCount < 1"
                >
                    座席を選択のうえ、ご来店人数を入力してください
                </small>
                <small
                    class="help is-danger"
                    v-if="!validations.reservation.number_of_reservations.numberOfReservations && selectedSeatCount > 0"
                >
                    ご来店人数は{{ minNumberOfReservations }}名から{{ maxNumberOfReservations }}名までをご入力ください
                </small>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">座席</label>
        <div class="reservation-seats-container" v-if="visibleReservationSeats">
            <p><small>現在、<strong>{{ reservablePeople }}名</strong>までのご予約受け付けております。</small></p>
            <p><small>空席をクリックしてください。</small></p>
            <p><small>※ テーブルは2名席です</small></p>
            <h5 class="status-title">座席表の見方</h5>
            <div class="reservation-status">
                <small>
                    <span class="status"></span>空席
                </small>
                <small>
                    <span class="status selected"></span>選択中
                </small>
                <small>
                    <span class="status reserved"></span>予約不可
                </small>
            </div>
            <selectable-reservation-seat-list
                :reservationSeats="reservation.reservation_seats"
                @update-reservation-seat="handleUpdateReservationSeat">
            </selectable-reservation-seat-list>
            <b-loading :is-full-page="false" :active.sync="isLoadingSeats"></b-loading>
            <small class="has-text-danger" v-if="isFullOfReservations">
                ただいま満席です。<br>
                希望日時を再選択してください。<br>
                ※ご指定の日時でキャンセルが出た場合、ご予約いただける場合がございます。時間をおいてアクセスしてください。
            </small>
            <small class="has-text-danger" v-if="!isFullOfReservations && !isSelectedSeats">座席を選択してください</small>
        </div>
        <p v-if="!visibleReservationSeats">ご来店希望日時を選択してください</p>
    </div>
    <div class="field">
        <label class="label">お名前</label>
        <input
            type="text"
            class="input"
            placeholder="Gamoyon 花子"
            :class="{ 'is-danger': validations.reservation.reserver_name.$error }"
            :value="reservation.reserver_name"
            @input="handleUpdateReserverName($event.target.value)"
        >
        <div v-if="validations.reservation.reserver_name.$error">
            <small class="help is-danger" v-if="!validations.reservation.reserver_name.required">
                お名前を入力してください
            </small>
        </div>
    </div>
    <div class="field">
        <label class="label">電話番号 (ハイフンなし)</label>
        <input
            type="text"
            class="input"
            placeholder="09012345678"
            :class="{ 'is-danger': validations.reservation.tel.$error }"
            :value="reservation.tel"
            @input="handleUpdateTel($event.target.value)"
        >
        <div v-if="validations.reservation.tel.$error">
            <small class="help is-danger" v-if="!validations.reservation.tel.required">
                電話番号を入力してください
            </small>
            <small class="help is-danger" v-if="!validations.reservation.tel.tel">
                電話番号は半角数字で入力してください
            </small>
        </div>
    </div>
    <div class="field">
        <label class="label">メールアドレス</label>
        <input 
            type="mail"
            class="input"
            placeholder="sweets.sukiko@email.com"
            :class="{ 'is-danger': validations.reservation.mail.$error }"
            :value="reservation.mail"
            @input="handleUpdateMail($event.target.value)"
        >
        <small class="note">※お間違いなくご入力ください</small>
        <div v-if="validations.reservation.mail.$error">
            <small class="help is-danger" v-if="!validations.reservation.mail.required">
                メールアドレスを入力してください
            </small>
            <small class="help is-danger"  v-if="!validations.reservation.mail.email">
                メールアドレスの形式で入力してください(例: sweets.sukiko@email.com)
            </small>
        </div>
    </div>
    <div class="field">
        <label class="label">メモ</label>
        <textarea class="textarea" placeholder="桃のショートケーキ1つ" @input="handleUpdateComment($event.target.value)">{{ reservation.comment }}</textarea>
        <small class="note">※ご注文メニューまたは連絡事項をご入力ください</small>
    </div>
</form>
