<form>
    <div class="field">
        <label class="label">受付開始日</label>
        <div class="control">
            <b-datetimepicker :min-datetime="minDate"
                              v-model="newYearDishesSetting.start_datetime">
            </b-datetimepicker>
        </div>
        <div v-if="$v.newYearDishesSetting.start_datetime.$error">
            <small class="help is-danger"
                   v-if="!$v.newYearDishesSetting.start_datetime.required">
                受付開始日は必須入力です
            </small>
        </div>
    </div>
    <div class="field">
        <label class="label">受付終了日</label>
        <div class="control">
            <b-datetimepicker :min-datetime="minDate"
                              v-model="newYearDishesSetting.end_datetime">
            </b-datetimepicker>
        </div>
        <div v-if="$v.newYearDishesSetting.end_datetime.$error">
            <small class="help is-danger"
                   v-if="!$v.newYearDishesSetting.end_datetime.required">
                受付終了日は必須入力です
            </small>
        </div>
    </div>
    <div class="field">
        <label class="label">受渡日</label>
        <div class="control">
            <b-datepicker :min-date="minDate" v-model="newYearDishesSetting.delivery_date"></b-datepicker>
        </div>
    </div>
    <div class="field">
        <label class="label">受渡時間 (開始)</label>
        <div class="control">
            <b-timepicker v-model="newYearDishesSetting.delivery_time_from"></b-timepicker>
        </div>
    </div>
    <div class="field">
        <label class="label">受渡時間 (終了)</label>
        <div class="control">
            <b-timepicker v-model="newYearDishesSetting.delivery_time_to"></b-timepicker>
        </div>
    </div>
    <div class="field">
        <label class="label">在庫数</label>
        <div class="control">
            <input type="number" class="input has-text-right" min="0" v-model.number="newYearDishesSetting.receptions">
        </div>
        <div v-if="$v.newYearDishesSetting.receptions.$error">
            <small class="help is-danger"
                   v-if="!$v.newYearDishesSetting.receptions.required">
                受付数は必須入力です
            </small>
        </div>
        <div v-if="$v.newYearDishesSetting.receptions.$error">
            <small class="help is-danger"
                   v-if="!$v.newYearDishesSetting.receptions.minValue">
                受付数は1以上の数値を入力してください
            </small>
        </div>
    </div>
    <div class="field">
        <label class="label">注文上限</label>
        <input type="number" class="input has-text-right" min="0" v-model.number="newYearDishesSetting.max_quantity_per_reservation">
    </div>
    <!--<div class="field">
        <b-upload class="file-label" type="is-info" v-model="newYearDishesSetting.image">
            <span class="file-cta">
                <b-icon class="file-icon" icon="upload"></b-icon>
                <span class="file-label">イメージ画像をアップロード</span>
            </span>
            <span class="file-name"></span>
        </b-upload>
    </div>-->
    <div class="field">
        <label class="checkbox">
            <input type="checkbox" class="checkbox" v-model="newYearDishesSetting.is_pause">おせち予約サイトを休止する
        </label>
        <p class="help is-danger">チェックすると、おせち予約フォームにアクセスできなくなります</p>
    </div>
    <div class="buttons is-right">
        <button type="button"
                class="button is-info"
                @click="handleSave()">
            <i class="fas fa-save"></i>保存する
        </button>
    </div>
</form>
