.reservation-status {
    margin-bottom: 8px;

    .status {
        border: solid 1px #aaa;
        background-color: #fff;
        display: inline-block;
        width: 24px;
        height: 12px;
        margin-right: 6px;

        &.selected {
            border: solid 1px #b9936c;
            background-color: #debf9f;
        }
        &.reserved {
            border: solid 1px #aaa;
            background-color: #ccc;
        }
    }
}

