<div class="reservation-search-form">
    <!-- For PC -->
    <div class="is-hidden-mobile">
        <div class="field is-grouped">
            <b-select placeholder="予約日を選択してください"
                      icon="calendar"
                      v-model="option.reservation_date_id"
                      @input="handleChangeReservationDate()">
                <option v-for="d in businessDays" :key="d.id" :value="d.id">
                    {{ d.business_date | formatDateJp }}
                </option>
            </b-select>
            <div class="control">
                <b-select placeholder="時間帯を選択してください"
                          icon="clock"
                          v-model="option.reservation_time_id">
                    <option v-for="t in timezones" :key="t.id" :value="t.id">
                        {{ t.start_time | timePeriod(t.end_time) }}
                    </option>
                </b-select>
            </div>
            <div class="control">
                <button type="button" class="button is-info" @click="handleSearch()">
                    <i class="fas fa-search"></i>
                    <span>検索</span>
                </button>
            </div>
        </div>
    </div>

    <!-- For mobile -->
    <div class="is-hidden-tablet">
        <div class="field">
            <label class="label">予約日</label>
            <b-select placeholder="予約日を選択してください"
                      icon="calendar"
                      v-model="option.reservation_date_id"
                      @input="handleChangeReservationDate()">
                <option v-for="d in businessDays" :key="d.id" :value="d.id">
                    {{ d.business_date | formatDateJp }}
                </option>
            </b-select>
        </div>
        <div class="field">
            <label class="label">時間帯</label>
            <b-select placeholder="時間帯を選択してください"
                      icon="clock"
                      v-model="option.reservation_time_id">
                <option v-for="t in timezones" :key="t.id" :value="t.id">
                    {{ t.start_time | timePeriod(t.end_time) }}
                </option>
            </b-select>
        </div>
        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button type="button" class="button is-info" @click="handleSearch()">
                    <i class="fas fa-search"></i>
                    <span>検索</span>
                </button>
            </div>
        </div>
    </div>
</div>
