<div class="container">
    <div class="columns">
        <div class="column is-half is-offset-3">
            <div class="box">
                <h4 class="title is-size-5">
                    <i class="fas fa-history"></i>予約キャンセル履歴
                </h4>
                <reservation-cancel-log-search-form
                    @search="handleSearch">
                </reservation-cancel-log-search-form>
            </div>
            <div class="reservation-cancel-log-list-container">
                <reservation-cancel-log-list :items="items"></reservation-cancel-log-list>
                <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
            </div>
        </div>
    </div>
</div>
