<div class="container">
    <div class="columns">
        <div class="column is-half is-offset-3">
            <div class="box">
                <div class="page-header">
                    <h4 class="title is-size-5">
                        <i class="fas"></i>予約キャンセル履歴
                    </h4>
                </div>

                <div class="page-content">
                    <reservation-cancel-log-search-form>
                    </reservation-cancel-log-search-form>

                    <reservation-cancel-log-list>
                    </reservation-cancel-log-list>
                    <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
                </div>
            </div>
        </div>
    </div>
</div>
