.seat {
    display: inline-block;
    margin-right: 12px;

    .chair {
        border: solid 1px #aaa;
        border-radius: 4px;
        background-color: #fff;
        margin-left: 3px;
        width: 24px;
        height: 6px;
    }
    .desk {
        border: solid 1px #aaa;
        border-radius: 2px;
        background-color: #fff;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 32px;
        height: 48px;
        text-align: center;
    }


    &.selected {
        .chair,
        .desk {
            background-color: #debf9f;
            color: #fff;
        }
    }
    &.reserved {
        .chair,
        .desk {
            border: 1px solid #aaa;
            background-color: #ccc;
        }
    }
}

// For mobile
@media screen and (max-width: 768px) {
    .seat {
        .chair {
            width: 20px;
        }
        .desk {
            width: 26px;
            height: 42px;
        }
    }
}
