<div class="reservation-search-form">
    <div class="field">
        <label class="label">ご予約日時</label>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <b-datepicker placeholder="予約日" icon="calendar-alt"></b-datepicker>
        </div>
        <div class="control">
            <b-select placeholder="時間帯を選択してください" icon="clock">
                <option v-for="t in timezones"
                        :key="t.id"
                        :value="t.id">
                    {{ t.text }}
                </option>
            </b-select>
        </div>
        <div class="control">
            <button type="button" class="button is-info">
                <i class="fas fa-search"></i>
                <span>検索</span>
            </button>
        </div>
    </div>
</div>
