<div class="container">
    <div class="columns">
        <div class="column is-half is-offset-3">
            <div class="card">
                <div class="card-content">
                    <div class="has-text-centered">
                        <h3 class="title is-size-4">
                            <i class="fas fa-calendar-check"></i>予約変更完了
                        </h3>

                        <p>新春スイーツのご予約変更を承りました</p>
                        <a class="button is-info is-inverted" @click="handleRedirectToDetailView()">
                            <i class="fas fa-link"></i>ご予約の確認はこちら
                        </a>

                        <div class="sns-links-container">
                            <sns-links></sns-links>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

