<div class="list-item">
    <h3 class="subtitle is-size-3">
         <strong>{{ reservation.reserver_name | formatReserver(reservation.number_of_reservations) }}</strong>
    </h3>
    <div class="item">
        <p><strong>予約日</strong></p>
        <p>
            {{ reservation.reservation_date | formatReservationDatetime(reservation.reservation_start_time, reservation.reservation_end_time) }}
        </p>
    </div>
    <div class="item">
        <p><strong>電話番号</strong></p>
        <p>{{ reservation.tel }}</p>
    </div>
    <div class="item">
        <p><strong>メールアドレス</strong></p>
        <p>{{ reservation.mail }}</p>
    </div>
    <div class="item">
        <p><strong>メモ</strong></p>
        <p>{{ reservation.comment }}</p>
    </div>
    <div class="buttons has-addons is-right">
        <button type="button"
                class="button is-danger is-inverted">
            <i class="fas fa-times"></i>
            キャンセル
        </button>
    </div>
</div>
