<div class="container">
    <div class="columns is-centered is-desktop">
        <div class="column is-half">
            <div class="page-header">
                <h4 class="title is-size-3">
                    <i class="fas fa-question-circle"></i>
                    お問い合わせ
                </h4>
            </div>

            <div class="page-contents">
                <form>
                    <div class="field">
                        <label class="label">タイトル</label>
                        <div class="control">
                            <input type="text" class="input" placeholder="例) 貸切予約の相談">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">お名前</label>
                        <div class="control">
                            <input type="text" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">メールアドレス</label>
                        <small>
                            <i class="fas fa-info-circle"></i>
                            お問い合わせ後、入力したメールアドレス宛に返信用URLをお送りします
                        </small>
                        <div class="control">
                            <input type="text" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">メッセージ</label>
                        <div class="control">
                            <textarea class="textarea">
                            </textarea>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <button type="submit" class="button is-info">
                                <i class="fas fa-mail"></i>
                                送信
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
