<div class="list-container">
    <div class="card card-list-item" v-for="r in reservations" :key="r.id">
        <div class="card-content">
            <h3 class="title">
                {{ r.reserver_name | formatReserver(r.number_of_reservations) }}
            </h3>
            <div>
                <p><strong>予約日</strong></p>
                <p>
                    {{ r.reservation_date | formatReservationDatetime(r.reservation_start_time, r.reservation_end_time) }}
                </p>
            </div>
            <div>
                <p><strong>電話番号</strong></p>
                <p>{{ r.tel }}</p>
            </div>
            <div>
                <p><strong>メールアドレス</strong></p>
                <p>{{ r.mail }}</p>
            </div>
            <div>
                <p><strong>メモ</strong></p>
                <p>{{ r.comment }}</p>
            </div>
        </div>
        <footer class="card-footer">
        </footer>
    </div>
    <div class="card" v-if="!hasItems">
        <div class="card-content">
            <p class="has-text-centered">表示できるデータがありません</p>
        </div>
    </div>
</div>
