<div class="columns is-centered is-desktop">
    <div class="column is-half">
        <div class="box">

            <div class="page-header">
                <h4 class="title is-size-3">
                    <i class="fas fa-paper-plane"></i>
                    予約確認メール再送
                </h4> 
                <p>
                    ご予約済のお客様で、入力したメールアドレスで届かなかった方は、メールを再送致します。<br>
                    予約ID、予約日時、お名前、電話番号のいずれかを記入し、予約内容にお間違いなければ送信ボタンをクリックしてください。
                </p>
            </div>

            <div class="page-content">
                <reservation-resend-mail-form/>
            </div>

            <div class="page-footer">
                <button type="button" class="button is-info">
                    <i class="fas fa-paper-plane"></i>
                    <span class="button-label">送信</span>
                </button>
            </div>
        </div>
    </div>
</div>
