<form class="reservation-cancel-log-search-form">
    <div class="field">
        <label for="" class="label">キャンセル日(開始)</label>
        <b-datepicker></b-datepicker>
    </div>
    <div class="field">
        <label for="" class="label">キャンセル日(終了)</label>
        <b-datepicker></b-datepicker>
    </div>
    <div class="field is-grouped is-grouped-right">
        <div class="control">
            <button type="reset" class="button">
                <i class="fas fa-times"></i>条件をクリア
            </button>
        </div>
        <div class="control">
            <button type="button" class="button is-info" @click="handleSearch()">
                <i class="fas fa-search"></i>検索
            </button>
        </div>
    </div>
</form>
