// variables
$common-border-color: rgba(10, 10, 10, 0.1);

// 縦向きテーブル
$vertical-table-height: 80px;
$vertical-table-width: 30px;

// 横向きテーブル
$horizontal-table-height: 30px;
$horizontal-table-width: 80px;

.reservation-entry-form {
    .separator {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid $common-border-color;
    }

    .reservation-room {
        border: 1px solid $common-border-color;
        padding: 20px;
        margin-bottom: 10px;
        position: relative;
        height: 120px;

        .entrance {
            border: 1px solid #aaa;
            width: 20px;
            height: 30px;
            position: absolute;
            top: 1px;
            left: 1px;
            position: absolute;
        }

        .seat {
            position: absolute;
            border: 1px solid #aaa;

            &.is-reserved {
                background-color: #bbb;
            }
            &.no1 {
                width: $vertical-table-width;
                height: $vertical-table-height;
                top: 20px;
                left: 40px;
            }
            &.no2 {
                width: $vertical-table-width;
                height: $vertical-table-height;
                top: 20px;
                left: 90px;
            }
            &.no3 {
                width: $vertical-table-width;
                height: $vertical-table-height;
                top: 20px;
                left: 140px;
            }
            &.no4 {
                width: $vertical-table-width;
                height: $vertical-table-height;
                top: 20px;
                left: 190px;
            }
            &.no5 {
                width: $vertical-table-width;
                height: $vertical-table-height;
                top: 20px;
                left: 240px;
            }
        }
    }

}

.form-actions {
    margin-top: 20px;
    text-align: right;
}
