<div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title">
            <i class="fas fa-clock"></i>
            予約時間帯設定
        </p>
    </header>
    <section class="modal-card-body">
        <div class="field">
            <label class="label">開始時間</label>
            <b-timepicker v-model="timezone.start_time"></b-timepicker>
            <span v-if="$v.timezone.start_time.$error">
                <small class="help is-danger"
                       v-if="!$v.timezone.start_time.required">
                    開始時間は必須入力です。
                </small>
            </span>
        </div>
        <div class="field">
            <label class="label">終了時間</label>
            <b-timepicker v-model="timezone.end_time"></b-timepicker>
            <span v-if="$v.timezone.end_time.$error">
                <small class="help is-danger"
                       v-if="!$v.timezone.end_time.required">
                    終了時間は必須入力です。
                </small>
            </span>
        </div>
        <div class="field">
            <label class="checkbox">
                <input class="checkbox" type="checkbox" v-model="timezone.is_default_select">
                営業日設定でチェック済にする
            </label>
        </div>
    </section>
    <footer class="modal-card-foot buttons is-right">
        <button type="button" class="button" @click="$parent.close()">
            <i class="fas fa-times"></i>
            閉じる
        </button>
        <button type="button"
                class="button is-info"
                :disabled="isSaving"
                @click="handleClickSave()">
            <i class="fas fa-save"></i>
            設定内容を保存
        </button>
    </footer>
</div>

